@import "tailwindcss";
:root {
  color-scheme: light !important;
  --color-scheme: light !important;
}

@theme {
  --font-sans: "Roboto", sans-serif;
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-54: #545454;
  --color-gray-4d: #4d4d4d;
  --color-gray-8a: #8a8a8a;
  --color-gray-a0: #a0a0a0;
  --color-gray-a1: #a0a0a1;
  --color-gray-af: #afafaf;
  --color-gray-b3: #b3b3b3;
  --color-gray-c7: #c7c7c7;
  --color-gray-cc: #cccccc;
  --color-gray-d6: #d6d6d6;
  --color-gray-e6: #e5e6e6;
  --color-gray-f2: #f2f2f2;
  --color-gray-fa: #fafafa;
  --color-gray-ec: #ececec;

  --color-green-46: #009646;
  --color-green-3b: #3b863b;
  --color-green-6a: #52956a;
  --color-green-ca: #cbe7ca;
  --color-green-f1: #eefff1;

  --color-yellow-3b: #b7a53b;
  --color-yellow-4c: #f4cc4c;
  --color-yellow-9a: #fae69a;
  --color-yellow-a7: #f9eda7;
  --color-yellow-cc: #fcf2cc;
  --color-yellow-ca: #fef3ca;
  --color-yellow-e5: #fffbe5;
  --color-yellow-e8: #ffffe8;

  --color-red-30: #eb3c30;
  --color-red-3a: #ab403a;
  --color-red-f0: #ffeef0;
  --color-blue-a9: #2e5aa9;
  --color-blue-c3: #4988c3;
  --color-blue-e2: #29abe2;

  --color-olive-59: #807a59;

  --color-brown-31: #bf7031;
  --color-brown-b2: #c9c1b2;

  --text-simple: 14px;
  --text-simple--line-height: 17px;

  --text-h1: 19px;
  --text-h1--line-height: 22px;

  --text-h2: 16px;
  --text-h2--line-height: 19px;
}

html,
body,
#__nuxt {
  width: 100dvw;
  height: 100dvh;
  min-width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  color: var(--color-gray-4d);
}

body {
  overflow: hidden;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  font-size: var(--text-simple);
  line-height: var(--text-simple--line-height);
}

button,
input {
  outline: none;
}

* {
  min-height: 0px;
}

.wrapper {
  padding: 0px 12px 0px 20px;
}

.command-panel {
  height: 42px;
}

.section {
  padding: 8px 0px;
}

.ui-main-button-bg {
  background-color: linear-gradient(180deg, #fae960 0%, #fbe14c 51.39%, #e9d146 100%);
}

.ui-main-button-bg:active {
  background-color: linear-gradient(180deg, #cdb62c 4.17%, #ecd447 10.42%);
}
